PubkeyAuthentication yes
PasswordAuthentication yes
HostbasedAuthentication no
AllowGroups remote
AuthorizedKeysFile .ssh/authorized_keys
LogLevel DEBUG3
SyslogFacility AUTH
PrintLastLog no
SetEnv MOSH_SERVER_NETWORK_TMOUT=3600
