version: '2'

services:
  pass:
    build:
      context: .
      dockerfile: pass/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    ports:
      - '2201:22'

  key:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2202:22'

  http-proxy:
    build: http-proxy
    ports:
      - '8888:3128'
    links:
      - pass
      - key

  authykey:
    build: authykey
    environment:
      AUTHY_API_KEY: ${AUTHY_API_KEY}
      ADMIN_LIST: ${ADMIN_LIST}
      # template for it is "unixUserName:email:countrycode:phoneNumber unixUserName:email:countrycode:phoneNumber"
    ports:
      - '2203:22'

  authypass:
    build: authypass
    environment:
      AUTHY_API_KEY: ${AUTHY_API_KEY}
      ADMIN_LIST: ${ADMIN_LIST}
      # template for it is "unixUserName:email:countrycode:phoneNumber unixUserName:email:countrycode:phoneNumber"
    ports:
      - '2204:22'

  otp:
    build: otp
    environment:
      ADMIN: sa
      ADMIN_PASS: 1
    ports:
      - '2205:22'

  ed25519:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ed25519.pub
    ports:
      - '2206:22'

  ecdsa-nistp256:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ecdsa_nistp256.pub
    ports:
      - '2207:22'

  hmac-sha2-256:
    build: .
    environment:
      ADMIN: sa
      MAC: hmac-sha2-256
      CONFIG: sshd_config_macs
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2208:22'

  hmac-sha2-512:
    build: .
    environment:
      ADMIN: sa
      MAC: hmac-sha2-512
      CONFIG: sshd_config_macs
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2209:22'

  chacha20-poly1305_at_openssh.com:
    build: .
    environment:
      ADMIN: sa
      CIPHER: chacha20-poly1305@openssh.com
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2210:22'

  aes128-ctr:
    build: .
    environment:
      ADMIN: sa
      CIPHER: aes128-ctr
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2211:22'

  aes192-ctr:
    build: .
    environment:
      ADMIN: sa
      CIPHER: aes192-ctr
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2212:22'

  aes256-ctr:
    build: .
    environment:
      ADMIN: sa
      CIPHER: aes256-ctr
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2213:22'

  curve25519-sha256:
    build: .
    environment:
      ADMIN: sa
      KEX: curve25519-sha256@libssh.org
      CONFIG: sshd_config_kex
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2214:22'

  diffie-hellman-group-exchange-sha256:
    build: .
    environment:
      ADMIN: sa
      KEX: diffie-hellman-group-exchange-sha256
      CONFIG: sshd_config_kex
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2215:22'

  telnet:
    build: telnet
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    ports:
      - '2216:23'

  chain1:
    build:
      context: .
      dockerfile: pass/Dockerfile
    environment:
      ADMIN: chain1
      ADMIN_PASS: 1
      PRIVATE_KEY_NAME: id_rsa
    ports:
      - '2217:22'
    links:
      - chain2
      - http-proxy-chain2

  chain2:
    build: .
    environment:
      ADMIN: chain2
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
      PRIVATE_KEY_NAME: id_rsa1
    links:
      - chain3
      - http-proxy-chain3

  chain3:
    build: .
    environment:
      ADMIN: chain3
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa1.pub

  http-proxy-chain1:
    build: http-proxy
    ports:
      - '8889:3128'
    links:
      - chain1

  http-proxy-chain2:
    build: http-proxy
    links:
      - chain2

  http-proxy-chain3:
    build: http-proxy
    links:
      - chain3

  ecdsa-nistp384:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ecdsa_nistp384.pub
    ports:
      - '2218:22'

  ecdsa-nistp521:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ecdsa_nistp521.pub
    ports:
      - '2219:22'

  yuubikey:
    build: yubikey
    environment:
      ADMIN: sa
    ports:
      - '2220:22'
  yuubikey-pam:
    build: yubikey-pam
    environment:
      ADMIN: sa
    ports:
      - '2221:22'

  agent-forwarding-disabled:
    build:
      context: .
      dockerfile: agent-forwarding-disabled/Dockerfile
    environment:
      ADMIN: sa
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2222:22'

  gateway-ports:
    build:
      context: .
      dockerfile: gateway-ports/Dockerfile
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2223:22'

  mosh:
    build: 
      context: .
      dockerfile: mosh/Dockerfile
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2224:22'
      - '60001:60001/udp'

  multiple-auths:
    build:
      context: .
      dockerfile: multiple-auths/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2225:22'

  keyboard-interactive-pass:
    build:
      context: .
      dockerfile: keyboard-interactive-pass/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    ports:
      - '2226:22'

  sftp-disabled:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config_no_sftp
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2227:22'
  
  pf-disabled:
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config_no_pf
      PUB_KEY_NAME: id_rsa.pub
    ports:
      - '2228:22'
  portknocking:
    build:
      context: .
      dockerfile: portknocking/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    ports:
      - '2230:22'
      - '7000:7000'
      - '8000:8000'
      - '9000:9000'
    cap_add:
      - ALL
    privileged: true
