# Copyright (c) 2020 Termius Corporation.
version: '2'

services:
  pass:
    mem_limit: 64m
    build:
      context: .
      dockerfile: pass/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      CONFIG: sshd_config
    restart: "unless-stopped"
    ports:
      - '2201:22'

  key:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config_key
      PUB_KEY_NAME: id_rsa.pub id_rsa_encrypted.pub
    restart: "unless-stopped"
    ports:
      - '2202:22'

  http-proxy:
    mem_limit: 512m
    build: http-proxy
    ports:
      - '8888:3128'
    restart: "unless-stopped"
    links:
      - pass
      - key

  socks5-proxy:
    mem_limit: 512m
    build: socks5
    ports:
      - '1080:1080'
    restart: "unless-stopped"
    links:
      - pass
      - key

  http-proxy-authenticated:
    mem_limit: 512m
    build:
      context: http-proxy
      args:
        SQUID_CONFIG: authenticated-squid.conf
    ports:
      - '8890:3128'
    restart: "unless-stopped"
    links:
      - pass
      - key

  authykey:
    mem_limit: 64m
    build:
      context: .
      dockerfile: authykey/Dockerfile
    environment:
      AUTHY_API_KEY: ${AUTHY_API_KEY}
      ADMIN_LIST: ${ADMIN_LIST}
      # template for it is "unixUserName:email:countrycode:phoneNumber unixUserName:email:countrycode:phoneNumber"
    restart: "unless-stopped"
    ports:
      - '2203:22'

  authypass:
    mem_limit: 64m
    build:
      context: .
      dockerfile: authypass/Dockerfile
    environment:
      AUTHY_API_KEY: ${AUTHY_API_KEY}
      ADMIN_LIST: ${ADMIN_LIST}
      # template for it is "unixUserName:email:countrycode:phoneNumber unixUserName:email:countrycode:phoneNumber"
    restart: "unless-stopped"
    ports:
      - '2204:22'

  otp:
    mem_limit: 64m
    build:
      context: .
      dockerfile: otp/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: 1
    restart: "unless-stopped"
    ports:
      - '2205:22'

  ed25519:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ed25519.pub
    restart: "unless-stopped"
    ports:
      - '2206:22'

  ecdsa-nistp256:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ecdsa_nistp256.pub
    restart: "unless-stopped"
    ports:
      - '2207:22'

  hmac-sha2-256:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      MAC: hmac-sha2-256
      CONFIG: sshd_config_macs
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2208:22'

  hmac-sha2-512:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      MAC: hmac-sha2-512
      CONFIG: sshd_config_macs
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2209:22'

  chacha20-poly1305_at_openssh.com:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CIPHER: chacha20-poly1305@openssh.com
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2210:22'

  aes128-ctr:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CIPHER: aes128-ctr
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2211:22'

  aes192-ctr:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CIPHER: aes192-ctr
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2212:22'

  aes256-ctr:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CIPHER: aes256-ctr
      CONFIG: sshd_config_ciphers
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2213:22'

  curve25519-sha256:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      KEX: curve25519-sha256@libssh.org
      CONFIG: sshd_config_kex
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2214:22'

  diffie-hellman-group-exchange-sha256:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      KEX: diffie-hellman-group-exchange-sha256
      CONFIG: sshd_config_kex
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2215:22'

  telnet:
    mem_limit: 64m
    build:
      context: .
      dockerfile: telnet/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    restart: "unless-stopped"
    ports:
      - '2216:23'

  chain1:
    mem_limit: 64m
    build:
      context: .
      dockerfile: pass/Dockerfile
    environment:
      ADMIN: chain1
      ADMIN_PASS: 1
      PRIVATE_KEY_NAME: id_rsa
    ports:
      - '2217:22'
    restart: "unless-stopped"
    links:
      - chain2
      - http-proxy-chain2

  chain2:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: chain2
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
      PRIVATE_KEY_NAME: id_rsa1
    restart: "unless-stopped"
    links:
      - chain3
      - http-proxy-chain3

  chain3:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: chain3
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa1.pub
    restart: "unless-stopped"

  http-proxy-chain1:
    mem_limit: 256m
    build: http-proxy
    ports:
      - '8889:3128'
    restart: "unless-stopped"
    links:
      - chain1

  http-proxy-chain2:
    mem_limit: 256m
    build: http-proxy
    restart: "unless-stopped"
    links:
      - chain2

  http-proxy-chain3:
    mem_limit: 256m
    build: http-proxy
    restart: "unless-stopped"
    links:
      - chain3

  ecdsa-nistp384:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ecdsa_nistp384.pub
    restart: "unless-stopped"
    ports:
      - '2218:22'

  ecdsa-nistp521:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ecdsa_nistp521.pub
    restart: "unless-stopped"
    ports:
      - '2219:22'

  yubikey-pam:
    mem_limit: 64m
    build:
      context: .
      dockerfile: yubikey-pam/Dockerfile
    environment:
      ADMIN: sa
    restart: "unless-stopped"
    ports:
      - '2221:22'

  agent-forwarding-disabled:
    mem_limit: 64m
    build:
      context: .
      dockerfile: agent-forwarding-disabled/Dockerfile
    environment:
      ADMIN: sa
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2222:22'

  gateway-ports:
    mem_limit: 64m
    build:
      context: .
      dockerfile: gateway-ports/Dockerfile
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2223:22'

  mosh-key:
    mem_limit: 64m
    build:
      context: .
      dockerfile: mosh/Dockerfile
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2224:22'
      - '60001-60010:60001-60010/udp'

  multiple-auths:
    mem_limit: 64m
    build:
      context: .
      dockerfile: multiple-auths/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2225:22'

  keyboard-interactive-pass:
    mem_limit: 64m
    build:
      context: .
      dockerfile: keyboard-interactive-pass/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    restart: "unless-stopped"
    ports:
      - '2226:22'

  sftp-disabled:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config_no_sftp
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2227:22'

  pf-disabled:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config_no_pf
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2228:22'

  pf-case-jump:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: qa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    depends_on: [pf-case-keystorage, pf-case-target]
    ports:
      - '2230:22'
    restart: "unless-stopped"
    networks:
     - pf-case-keystorage
     - pf-case-target


  pf-case-keystorage:
    mem_limit: 64m
    build: .
    command: bash -c 'cat /tmp/id_rsa1 > /home/$$ADMIN/id_rsa;/usr/sbin/sshd -D'
    environment:
      ADMIN: qa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_ed25519.pub
    restart: "unless-stopped"
    networks:
      pf-case-keystorage:
        ipv4_address: 172.25.1.101

  pf-case-target:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: qa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa1.pub
    restart: "unless-stopped"
    networks:
      pf-case-target:
        ipv4_address: 172.25.2.101

  client-cert:
    mem_limit: 64m
    build:
      context: .
      dockerfile: client-cert/Dockerfile
    environment:
      ADMIN: sa
      CONFIG: sshd_config
    restart: "unless-stopped"
    ports:
      - '2231:22'

  mosh-unstable:
    mem_limit: 64m
    build:
      context: .
      dockerfile: mosh/Dockerfile
    cap_add:
      - NET_ADMIN
    environment:
      UNSTABLE_NETWORK: "true"
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2232:22'
      - '60021-60030:60021-60030/udp'

  mosh-pass:
    mem_limit: 64m
    build:
      context: .
      dockerfile: mosh/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      CONFIG: sshd_config
    restart: "unless-stopped"
    ports:
      - '2233:22'
      - '60011-60020:60011-60020/udp'

  export-key:
    mem_limit: 64m
    build:
      context: .
      dockerfile: pass/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      CONFIG: sshd_config_export_key
      PRIVATE_KEY_NAME: id_rsa
    restart: "unless-stopped"
    ports:
      - '2234:22'

  disabled-rsa-sha:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      CONFIG: sshd_config_rsa_sha2
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2235:22'

  dropbear:
    mem_limit: 64m
    build:
      context: .
      dockerfile: dropbear/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
      PUB_KEY_NAME: id_rsa.pub
    restart: "unless-stopped"
    ports:
      - '2236:22'

  putty:
    mem_limit: 64m
    build: .
    environment:
      ADMIN: sa
      CONFIG: sshd_config
      PUB_KEY_NAME: putty_rsa.pub putty_rsa_encrypted.pub putty3_rsa_encrypted.pub
    restart: "unless-stopped"
    ports:
      - '2237:22'

  tinyssh:
    mem_limit: 64m
    build:
      context: .
      dockerfile: tinyssh/Dockerfile
    environment:
      ADMIN: sa
      PUB_KEY_NAME: id_ed25519.pub
    restart: "unless-stopped"
    ports:
      - '2238:22'

  keyboard-interactive-custom:
    mem_limit: 64m
    build:
      context: .
      dockerfile: keyboard-interactive-custom/Dockerfile
    environment:
      ADMIN: sa
      ADMIN_PASS: pass
    restart: "unless-stopped"
    ports:
      - '2239:22'

networks:
  pf-case-keystorage:
    ipam:
      config:
      - subnet: 172.25.1.0/24
  pf-case-target:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.2.0/24
