PubkeyAuthentication yes
HostbasedAuthentication no
PasswordAuthentication no
AllowGroups remote
AuthorizedKeysFile .ssh/authorized_keys
LogLevel DEBUG3
SyslogFacility AUTHPRIV
Subsystem sftp /usr/lib/openssh/sftp-server -l DEBUG3
PrintLastLog no
AcceptEnv LANG LC_*
